.header {
  grid-area: h;
  background-color: green;
}
.header img {
  width: 50px;
}
.loginBlock {
  float: right;
}
.loginBlock a {
  color: white;
}
.idBlock {
  color: white;
  margin: 5px;
}
.login {
  color: white;
  margin: 5px;
}
.Login {
  margin: 15px;
}
